aws_region                  = "us-east-2"
enable_community            = true
enable_ansible              = false
enable_enterprise           = false
enterprise_token            = "your-enterprise-token"
enterprise_console_password = "6chars"
enterprise_admin_password   = "12characters"
enable_discovery            = false
enable_ldap                 = false
enable_saml                 = false
enable_eks                  = false
enable_postgres             = false
postgres_password           = "yesql123"
enable_rhel                 = false
enable_ubuntu               = false
